//variables

$primary-red: #d8315b;

//------------------------------------

html {
    box-sizing: border-box;
}

*, ::after, ::before { box-sizing: inherit; }

* {
    font-family: "Raleway", sans-serif;
    color: #fffaff;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 400px;
    min-width: fit-content;
    margin: 4rem auto 0 auto;
}

.red-container {
    padding: 1.5rem 1rem;
    background-color: $primary-red;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-template-rows: 1fr;
    column-gap: 1rem;
    justify-content: space-between;

    &__btn {
        background-color: $primary-red;
        border: none;
        border-radius: 5px;
        transition: background-color 300ms ease;

        &:is(:hover,
        :focus,:active) {
        background-color: #BB2548;
        }
    }

    &__month {
        justify-self: center;
        align-self: center;
    }
}

.calendar {

    &__weekdays {
        display: flex;
        flex-grow: 1;
        flex-wrap: nowrap;
        justify-content: space-between;

        & div {
            padding-inline: 0.5rem;
        }
    }
}

.event {
    margin-inline: auto;
    background-color: #0A2463;
    border-radius: 0 0 5px 5px;
    padding: 1.5rem;
}