//variables
$primary-neutral: #FFFAFF;
$primary: #d8315b;
$highlight: #0A2463;
$highlight2: #3E92CC;

//------------------------------------

html {
    box-sizing: border-box;
}

*, ::after, ::before { box-sizing: inherit; }

* {
    font-family: "Raleway", sans-serif;
    color: $primary-neutral;
    margin: 0;
    padding: 0;
}

.button {
    background-color: $primary;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    transition: background-color 300ms ease;

    &:is(:hover,
    :focus,:active) {
    background-color: $highlight2;
    cursor: pointer;
    }
}

.wrapper {
    max-width: 400px;
    min-width: fit-content;
    margin: 4rem auto 0 auto;
}

.red-container {
    padding: 1.5rem 1rem;
    background-color: $primary;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-template-rows: 1fr;
    column-gap: 1rem;
    justify-content: space-between;

    &__btn {
        min-height: 3rem;
        background-color: $primary;
        border: none;
        border-radius: 5px;
        transition: background-color 300ms ease;

        &:is(:hover,
        :focus,:active) {
        background-color: $highlight;
        cursor: pointer;
        }
    }

    &__month {
        justify-self: center;
        align-self: center;
    }
}

.calendar {
    display:  grid;
        grid-template-columns: repeat(7, minmax(1rem, 1fr));
        grid-template-rows: repeat(7, minmax(1rem, 1fr));
        text-align: center;

    .day-name {
        padding: 0.5rem;
    }

    .day-no {
        padding: 0.5rem;
        border-radius: 2.5px;
        transition: background-color 300ms ease;
    }
        
    .day-no:is(:hover,
    :focus,:active) {
    background-color: $highlight2;
    cursor: pointer;
    } 
}

.event {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    margin-inline: auto;
    background-color: #0A2463;
    border-radius: 0 0 5px 5px;
    padding: 1.5rem;

    &__create-button {
        font-size: large;
        justify-self: end;
        min-height: 1rem;
        line-height: 1rem;
    }
}

//Modal------------------>

.modal {
    min-width: 300px;
    min-height: 200px;
    border-radius: 5px;
    background-color: $highlight;
    margin-inline: auto;
    margin-top: 8rem;
    border: dotted 1px $primary-neutral;

    &::backdrop {
        background: $highlight;
        opacity: 0.4;
    }

    &__close {
        background-color: $primary;
        min-width: 1.2rem;
        min-height: 1.2rem;
        line-height: 1.2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        border-radius: 2.5px;
        text-align: center;
        text-decoration: none;
        transition: background-color 300ms ease;

        &:is(:hover,
        :focus,:active) {
        background-color: $highlight2;
        cursor: pointer;
        }
    }

    .form {
        margin: 3rem;
        display: grid;
        row-gap: 0.5rem;

        &__label::after {
            content: " (povinné)";
            color: $primary;
            font-size: smaller;
            font-weight: 600;
        }

        &__item {
            padding: 0.25rem;
            color: $highlight;
            border-radius: 2.5px;
            border: none;
            transition: background-color 300ms ease;

            &::placeholder {
                color: $highlight;
                opacity: 1;
            }

            &:is(:hover,
            :focus,:active) {
            background-color: $highlight2;
            cursor: pointer;
            }
        }
    }

    &__submit-button {
            margin-top: 1rem;
    }   
}

//JS CSS
    .markedDiv {
        background-color: $highlight2;
    }